.faq {
  &__title, &__content {
    padding: 10px;
  }

  &__title {
    background-color: @color-gray-light0;
    cursor: pointer;

    &:hover {
      background-color: @color-gray-light01;
    }
  }
}