<?php
/** @var \Magebit\Faq\Block\QuestionList $block */
?>

<h1>Frequently Asked Questions</h1>

<div class="faq">
    <?php foreach ($block->getQuestions() as $obj): ?>
        <div data-role="collapsible">
            <div class="faq__title" data-role="trigger">
                <span><?= $obj->getQuestion(); ?></span>
            </div>
        </div>
        <div class="faq__content" data-role="content"><?= $obj->getAnswer(); ?></div>
    <?php endforeach; ?>
</div>

<script>
    require([
        'jquery',
        'accordion'], function ($) {
        $(".faq").accordion();
    });
</script>